<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Tic tac toe</title> 
  <link rel="stylesheet" href="/styles/main.css"/>
  <link rel="stylesheet" href="/styles/adminpanel.css"/>
</head>
<body>
  <div class="user" th:each="user: ${users}">
    <p th:text="${user.userName}"></p>
    <a th:href="@{/admin/user/edit/{userName}(userName=${user.userName})}">Edit User</a>
  </div>
</body>
</html>