<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Tic tac toe</title>
</head>
<body>
  <h1>Something went wrong!</h1>
  <a href="/home">Go Home</a>
  <p th:text="'Failed URL: ' + ${url}"></p>
  <p th:text="'Exception: ' + ${exception.message}"></p>
</body>
</html>