<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Tic tac toe</title> 
  <link rel="stylesheet" href="/styles/main.css"/>
  <link rel="stylesheet" href="/styles/profile.css"/>
</head>
<body>
  <div>
    <p th:text="'Wins: ' + ${wins}"></p>
    <p th:text="'Loses: ' + ${loses}"></p>
  </div>
</body>
</html>