.wrapper {
  height: 100vh;
  position: relative;
}

.container-right {
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
}

.container-right a {
  color: #141414;
}

#player-symbol {
  top: 100px;
}

.board, .list-games {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-games {
  width: 80%;
  top: 40%;
}

.cell {
  float: left;
  width: calc(100% / 3 - 3px);
  height: calc(100% / 3);
  position: relative;
}

.list-games {
  display: none;
  text-align: center;
}

.x-symbol, .o-symbol {
  height: 70px;
  width: 70px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
}

.x-symbol {
  background: center / contain no-repeat url("/imgs/cancel.png");
}

.o-symbol {
  background: center / contain no-repeat url("/imgs/dry-clean.png");
}

.border-bottom {
  border-bottom: 3px solid #fff;
}

.border-right {
  border-right: 3px solid #fff;
}

.bg-center {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon {
 height: 20px;
  width: 20px;
  display: inline-block;
  margin: 10px;
}

.profile {
  background-image: url("/imgs/user.png");
}

.admin {
  background-image: url("/imgs/settings.png");
}

.game-modes {
  bottom: 0;
  position: fixed;
  height: 100px;
  width: 100%;
}

.game-modes::after {
  content: "";
  clear: both;
  display: table;
}

.game-mode {
  width: 50%;
  float: left;
  height: 100%;
  background-size: inherit;
  cursor: pointer;
  box-shadow: 0px -5px 7px 2px rgba(0,0,0,0.65);
  -webkit-box-shadow: 0px -5px 7px 2px rgba(0,0,0,0.65); 
}

.list-container {
  margin-top: 10px;
  max-height: 100%;
  overflow: auto;
}

.game {
  border: 1px solid #fff;
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
}

.ai-mode {
  background-image: url("/imgs/artificial-intelligence.png");
}

.multiplayer-mode {
  background-image: url("/imgs/person.png");
}

.overlay {
  position: absolute;
  display: none;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding-top: 150px;
}

.overlay-message {
  margin-top: 15px;
}

@keyframes scale {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}