@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:#141414;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
}

.button {
  padding: 12px 40px;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

a {
  color: #fff;
  font-size: .9em;
}
